doctype html
html
    head
        title A job of darkness - Coming Soon
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content="Under construction")
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto&display=swap')
    body
        #main
            h1 Coming Soon 😉